$color-primary: #2250fc;


$color-light: #ffffff;
$color-light2: #ebebeb;
$color-dark: #0a0a0a;
$color-main:#b4b4b4;
$color-footer:#f5f2f0;
$color-menu:#b7dbce;
$color-header:#f8d4db;






$color-pink: #E91E63;
$color-purple: #9C27B0;
$color-deep-purple: #673AB7;
$color-indigo: #3F51B5;
$color-blue: #2196F3;
$color-light-blue: #03A9F4;
$color-cyan: #00BCD4;
$color-teal: #009688;
$color-green: #4CAF50;
$color-light-green: #8BC34A;
$color-lime: #CDDC39;
$color-yellow: #FFEB3B;
$color-amber: #FFC107;
$color-orange: #FF9800;
$color-deep-orange: #FF5722;
$color-brown: #d18874;
$color-gray: #e8e8e8;
$color-blue-gray: rgb(51, 51, 51);